body {
    background-color: rgb(185, 185, 185);
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 5%;
    display: flex;
}

.container {
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    height: 590px;
    width: 1200px;
}